.cnv {
    width: 900px;
    height: 900px;
}

.columns {
    border: 2px solid transparent;
}

.columns.hovered {
    border: 2px dotted rgb(255, 174, 0);
}

.columns.active {
    background-color: #8ab8fc;
}